<h1>Percentage of Students By Academic Program</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <th>Program</th>
      <% schools.each do |school| %>
        <th><%= link_to school.school_name, school_path(school) %></th>
      <% end %>
    </tr>

		<% get_academic_keys(schools.first).each do |key| %>
			<tr>

				<td><%= key.gsub("program_percentage_", "").gsub("_", " ").titleize %></td>

				<% schools.each do |school| %>

					<td><%= to_percent(school.academic.send("#{key}")) %></td>

				<% end %>
				
			</tr>
		<% end %>
	</table>
</div>
