<h1>Aid</h1>


<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <th>Attribute</th>
      <% schools.each do |school| %>
        <th><%= school.school_name %></th>
      <% end %>
    </tr>

		<% get_aid_keys(schools.first).each do |key| %>
			<tr>

				<td><%= key.gsub("_", " ").titleize %></td>

				<% schools.each do |school| %>

					<td><%= school.aid.send("#{key}") %></td>

				<% end %>
				
			</tr>
		<% end %>
	</table>
</div>
