<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 header-container">
      <p class="title-name">Username: <%= @user.username %> </p>
      <p class="title-name">Email:  <%= @user.email %> </p>
      <p>  <%= edit_button %> </p>
    </div>
  </div>
</div>