<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
      <h1>Update User</h1>

      <%= render partial: "form", locals: {user: @user} %>
      <br>
      <%= button_to "Delete User", user_path(current_user), method: :delete %>

    </div>
  </div>
</div>