<div class="container front-page">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="welcome">Welcome to College Scorecard Thing</h1>
      <%= link_to "Sign Up!", new_user_path, class: "btn btn-success btn-lg", id: "create-user-button" unless signed_in_user? %>
    </div>
  </div>
  <div class="row">
    <%= render "search_bar" %>
  </div>
</div>