<div class="jumbotron">

  <div class="row">
    <div class="col-sm-12">

      <h1>Welcome to App.ly</h1>
      <br>
      <h3>Your Complete Guide to Applying to College</h3>
      <% unless current_user %>
      	<%= link_to "Sign up!", new_user_path, class: "btn btn-primary btn-lg", id: "new-user-button" %>
      <% end %>

    </div>
    <%= render "search_bar" %>
  </div>

</div>