<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Welcome to College Scorecard Thing</h1>
      <%= link_to "Create New User", new_user_path %> | 
      <%= link_to "Login", login_path %>
    </div>
  </div>
</div>