<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <%= form_for [school, review] do |review_fields| %>
      
        <%= review_fields.label "What do you think of this school?" %>
        <%= review_fields.text_area :body %>
          
        <%= review_fields.submit %>
      <% end %>

    </div>
  </div>
</div>