<h1>Academics</h1>

<h3>Most Popular Subjects</h3>

<table class="table">
	<tr>

		<th>Subject</th>
		<th>Percent of Total</th>


	</tr>
	<% school.popular_subjects.each do |subject, percent| %>
		<tr>
			<td><%= subject %></td>
			<td><%= percent %></td>

		</tr>
	<% end %>
</table>
