// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#completion_tabs td + td {
  font-weight: lighter;
}

#completion-rate {
  color: #FF1493;
  font-weight: bold;
  font-size: 1.33em;
}

#chart-1 {
	height: 500px;
}

#bookmark-button {
  float: left;
  font-size: 20px;
}

#see-reviews-button {
  position: relative;
  top: -19px;
  margin-left: 20px;
  font-size: 20px;
}

#school-site-link {
  margin-bottom: 20px;
  display: inline-block;
}

table{
  background-color: #ecf0f1;
}

#restaurant-info{
  padding-top: 30px;
}