// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_nav{

  .logo-container{
    img{
      width: 40px;
      height: 40px;
      margin-top: 4px;
      margin-right: 10px;
      vertical-align: middle;
    }

    a{
      color: white;
      font-size: 38px;
    }
  }

  .search-container{
    margin-top: 8px;
  }

  .name-container{
    font-size: 16px;
    margin-top: 14px;
    .pull-right{
      a{
      color: black;
      }
    }
  }
}

.navbar-brand{
  color: white;
  font-size: 48px;
}