// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_nav{

  .logo-container{
    img{
      width: 40px;
      height: 40px;
      margin-top: 4px;
      margin-right: 10px;
      vertical-align: middle;
    }

    a{
      color: white;
      font-size: 38px;
    }
  }

  .search-container{
    margin-top: 8px;
  }

  .name-container{
    font-size: 16px;
    margin-top: 14px;
    .pull-right{
      a{
      color: black;
      }
    }
  }
}

.navbar-brand{
  color: white;
  font-size: 48px;
}

.title-name{
  font-size: 48px;
}

.info-box{
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
  h3{
  text-align: center;
  }
  h5{
  text-align: center;
  }
  .comparison-box{
    form{
      text-align: center;
      .btn-primary{
        margin-top: 5px;
      }
    }
  }
}


.nav-logout{
  a{
  color: white;
  }
}

.school-list{
  table{
    background-color: #ecf0f1;
  }
  th{
    text-align: center;
  }
  text-align: center;
  p{
    text-align: center;
    font-size: 18px;
    font-color: black;
  }
}

html{
  background: image-url("university.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#welcome {
  display: inline-block;
}

#create-user-button {
  margin-left: 100px;
}

.top-margin {
  margin-top: 20px;
}


.app-body{
  background: rgba(255, 255, 255, 0.9)
}

.inline-block {
  display: inline;
}

#search-button {
  margin-top: 30px;
}

#new-user-button {
  float: right;
  position: relative;
  top: -50px;

}

#find-school {
  display: inline;
}
