<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-offset-2">
      <h1>Edit Review</h1>
      <%= render partial: 'shared/new_or_edit_review', locals: { school: @school, review: @review } %>
    </div>
  </div>
</div>