<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Edit Review</h1>
      <%= render partial: 'shared/new_review', locals: { school: @school, review: @review } %>
    </div>
  </div>
</div>